@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

h1 {
    #font-family: verdana;
    font-weight: bold;
    text-align:center;
    color: black;
    font-size:50px;
    line-height:4;
}
h2{
    color: black;
    text-align: left;
    #width: 2px;
    font-size:16px;
    #padding-right:1300px
}



body {
    display: inline;
    font-family: verdana;
    background-color: white;
    background-image: url("melodie.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

:root {
    color: black;
}

.add-btn {
    height: 40px;
    width: 130px;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    font-size: 15px;
}

.add-btn:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.add-btn:focus {
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}
.inline {
  display: inline;
}

.form-feild {
    height: 70px;
    width: 200px;
    border: 1px solid #99AAB5;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #2C2F33;
}

.customfile{
            border: 3px solid black;
            border-radius: 3px;
            padding: 2px;
            font-size: 15px;
        }
        .customfile::-webkit-file-upload-button{
            background: black;
            color: white;
            padding: 8px 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .customfile::-webkit-file-upload-button:hover {
            background: rgba(0, 0, 0, 0.69);
            color: white;
            padding: 8px 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 15px;
}
        .sub{
            background: black;
            color: white;
            padding: 8px 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 15px;
        }
        .sub:hover {
            background: rgba(0, 0, 0, 0.69);
            color: white;
            padding: 8px 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 15px;
}


.hidden {
  display: none;
}

.placeholder {
  font-size: 12px;
}


.container {
      position: relative;
      display: inline-block;
    }

    .upload-btn {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    .audio-player {
      display: block;
      margin-top: 15px;
    }