{% extends "template.html" %} {% block body %}

<h2>Action Page</h2>
<p>The file have been successfully uploaded.</p>

<br>
<h3>Start with melody experience. </h3>

    <button type="submit" class="add-btn">Read Notes</button>



    <script>
    function ShowAndHide() {
    var x = document.getElementById('SectionName');
    if (x.style.display == 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
    </script>
    <button onclick="ShowAndHide()" class="add-btn">Play Notes</button>
    <div id="SectionName" STYLE="display:none">

    <button class='button play'></button>

    <audio controls>
  <source src="horse.mp3"  type="audio/mpeg">

</audio>


    </div>

&nbsp;
    <form action="/home">
    <button type="submit" class="add-btn">Go back</button>
</form>
<br>

{% endblock %}