{% extends "template.html" %} {% block body %}

<h2>Action Page</h2>
<p>The file have been successfully uploaded.</p>

<br>
<h3>Start with melody experience. </h3>




    <table>
    <button type="submit" class="add-btn" name="b1" >Convert Notes</button>



    <form action="/play">
    <button type="submit" class="add-btn" name="b2">Play Notes</button>
    </form>



    <form action="/read">
    <button type="submit" class="add-btn" name="b3">Read Notes</button>
    </form>
    </table>


    <form action="/home">
    <button type="submit" class="add-btn">Go Back</button>
    </form>



{% endblock %}