{% extends "template.html" %} {% block body %}

<h2>Home Page</h2>

    <div>
        <center>

            <p>This application is created by the students from FH Technikum Vienna in hopes to fill a challenging daily life with joy and melody.  </p>

        </center>

    </div>
&nbsp;
<p>Upload a photo with music notation.</p>


    <center>
    <input type="file" class="customfile">
    <input type="submit" class="sub">
    </center>

&nbsp;
<form action="/actions">
    <button type="submit" class="add-btn">Choose action</button>
</form>









{% endblock %}